.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  grid-template-areas:
    "header ratings"
    "reviews reviews";
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  align-content: center;
}

.Header {
  text-align: left;
  grid-area: header;
  text-align: left;
}

.Header h1 {
  color: var(--very-dark-magenta);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.Header p {
  color: var(--dark-grayish-magenta);
  font-size: 14px;
  line-height: 1.6;
}
